
/* Your CSS Code here. */
*{
	margin:0;
	padding:0;
}
.holder
{
	padding:0;
	margin:0;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:space-between;
}
.item
{
	height:100px;
	width:100px;
	background-color:red;
}